<!-- app/views/records/index.html.erb -->
<h1>Records Index</h1>
<ul>
  <% @records.each do |record| %>
    <li><%= link_to record.title, record %></li>
    <%= link_to "New Book record", record_path%>
  <% end %>
</ul>
