<h1><%= @record.title %></h1>

<p><%= @record.author %></p>

<ul>
  <li><%= link_to "Edit", edit_record_path(@record) %></li>
  <li><%= link_to "Destroy", record_path(@record), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
